* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    width: 100%;
    /* fall back */
    width: 100vw;
}


/*Tytułowa*/

.top {
    width: 100%;
    height: 100vh;
    background-image: url(img/backgroundTop.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.top:hover {
    opacity: 0.9;
    transition: 2s;
}

/*Navigation*/

.topnav {
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    border-top: 1px solid lightgrey;
    background-color: rgba(245, 245, 220, 0.9);
}

.topnav a {
    float: left;
    height: 100%;
    display: block;
    color: black;
    text-align: center;
    padding: 0.7rem 0.8rem;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 2px;
    border-color: transparent;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/*Title page*/

.title {
    padding-top: 10%;
    padding-left: 15%;
    font-weight: 200;
    color: black;
}

.button:link,
.button:visited {
    display: inline-block;
    background: rgba(245, 245, 220, 0.5);
    padding: 5px 15px;
    margin-left: 15%;
    margin-top: 5px;
    font-weight: 400;
    font-size: 0.85rem;
    text-decoration: none;
    border-radius: 20px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.main a:link,
.main a:visited {
    text-decoration: none;
    color: black;
    border: 1px solid black;
}

.main a:hover {
    text-decoration: none;
    color: black;
    background: rgba(211, 211, 211, 0.5);
    border: 1px solid red;
}

/*Oferta*/

.Offer {
    height: 100vh;
    width: 100%;
    font-weight: 500;
    background-color: aliceblue;
}

.Offer h1 {
    padding: 2rem 40%;
}

.list {
    list-style: none;
    padding: 5% 40%;
}

li {
    margin: 1rem 0;
}
